
.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
.aviso{color:#9F6000;background-color:#FEEFB3;border:2px #9F6000 solid;}
.sucesso{border:2px #C6D880 solid;background-color:#E6EFC2;color:#264409;}
.falha{border:2px #D8000C solid;color:#D8000C;background-color:#FFBABA;}
.offscreen{display:block;text-indent:-999999999px;}
.align-right{text-align:right;}
html{height:100%;min-height:100%;}html body{height:100%;min-height:100%;position:relative;}html body #backdrop{position:absolute;top:0;left:0;height:100%;min-height:100%;width:100%;z-index:1;}
html body #wrapper{width:550px;margin:0 auto;height:100%;min-height:100%;position:relative;}html body #wrapper #fundo-azul{position:absolute;top:0;left:0;z-index:2;width:550px;height:100%;min-height:100%;}
html body #wrapper .center{position:absolute;top:0;left:0;z-index:5;width:550px;height:100%;min-height:100%;text-align:center;}html body #wrapper .center #logo{margin-top:189px;margin-bottom:135px;}
html body #wrapper .center .trilha{font-family:'Bodoni Italic','Arial','Verdana','Tahoma',sans-serif;font-size:22px;font-weight:normal;color:#fff;}
html body #wrapper .center .enter-btn{display:inline-block;*display:inline;zoom:1;vertical-align:top;font-family:'Bodoni Italic','Arial','Verdana','Tahoma',sans-serif;font-size:16px;font-weight:normal;width:147px;height:23px;line-height:20px;text-align:center;border:1px #fff solid;color:#FFF;-webkit-transition:all 1s ease-out;-moz-transition:all 1s ease-out;-o-transition:all 1s ease-out;transition:all 1s ease-out;}html body #wrapper .center .enter-btn:visited,html body #wrapper .center .enter-btn:active{color:#FFF;}
html body #wrapper .center .enter-btn:hover{color:#16222C;background-color:#FFF;}
html body #wrapper .center .assinatura{width:550px;position:absolute;left:0;bottom:15px;font-family:'Times New Roman','Arial',serif;font-size:9px;text-align:center;color:#FFF;}html body #wrapper .center .assinatura a{color:#FFF;text-decoration:none;border-bottom:1px transparent solid;-webkit-transition:all 1s ease-out;-moz-transition:all 1s ease-out;-o-transition:all 1s ease-out;transition:all 1s ease-out;}html body #wrapper .center .assinatura a:active,html body #wrapper .center .assinatura a:visited{color:#FFF;}
html body #wrapper .center .assinatura a:hover{border-bottom:1px #FFF dotted;}
