
.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
.aviso{color:#9F6000;background-color:#FEEFB3;border:2px #9F6000 solid;}
.sucesso{border:2px #C6D880 solid;background-color:#E6EFC2;color:#264409;}
.falha{border:2px #D8000C solid;color:#D8000C;background-color:#FFBABA;}
.offscreen{display:block;text-indent:-999999999px;}
.align-right{text-align:right;}
body{background:#252F38;}body header{background-image:url('../_imgs/mobile/bg.jpg');padding-top:52px;}body header #link-home{margin:0 auto;display:block;width:275px;}
body header nav{margin-top:40px;min-height:48px;background:#1D262D;}body header nav ul{min-height:40px;font-size:0;white-space:nowrap;padding:4px 0;max-width:768px;margin:0 auto;}body header nav ul li{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:33%;white-space:normal;text-align:center;}body header nav ul li a{line-height:40px;min-height:40px;display:inline-block;*display:inline;zoom:1;vertical-align:top;color:#FFF !important;font-weight:normal !important;padding:0 18px;font-family:'Bodoni Italic','Arial','Verdana','Tahoma',sans-serif;font-size:20px;font-weight:normal;text-decoration:none;text-align:center;-webkit-transition:all 1s ease-out;-moz-transition:all 1s ease-out;-o-transition:all 1s ease-out;transition:all 1s ease-out;}body header nav ul li a:active,body header nav ul li a:visited{color:#FFF;}
body header nav ul li a:hover,body header nav ul li a.ativo{background-color:#252F38 !important;}
body .main{text-align:center;background:#252F38;max-width:768px;padding-bottom:40px;margin:0 auto;}body .main.main-home #video-home{width:100%;margin:0 auto;}
body .main.main-nos{margin:0 auto;}body .main.main-nos .texto-variable-size{max-width:768px;font-family:'Bodoni','Arial','Verdana','Tahoma',sans-serif;font-size:20px;font-weight:normal;text-align:center;vertical-align:baseline;line-height:155%;text-shadow:2px 2px 4px #16222c;padding:20px 0;color:#fff;}body .main.main-nos .texto-variable-size .f-42{vertical-align:baseline;font-family:'Bodoni','Arial','Verdana','Tahoma',sans-serif;font-size:38px;font-weight:normal;}
body .main.main-nos p{display:block;margin:15px auto;max-width:728px;font-family:'Calibri','Verdana','Arial',sans-serif;font-size:12px;font-weight:normal;font-family:'Calibri','Arial','Verdana','Tahoma',sans-serif;font-size:12px;font-weight:normal;line-height:180%;color:#fff;text-align:left;}
body .main.main-contato .fone{width:400px;margin:16px auto;line-height:100%;text-align:left;font-family:'Bodoni','Arial','Verdana','Tahoma',sans-serif;font-size:46px;font-weight:normal;color:#fff;text-shadow:2px 2px 4px #16222c;opacity:1;}body .main.main-contato .fone a{font-family:'Bodoni','Arial','Verdana','Tahoma',sans-serif;font-size:30px;font-weight:normal;color:#fff;-webkit-transition:all 1s ease-out;-moz-transition:all 1s ease-out;-o-transition:all 1s ease-out;transition:all 1s ease-out;}body .main.main-contato .fone a:active,body .main.main-contato .fone a:visited{color:#fff;}
body .main.main-contato .fone a:hover{color:#B9B098;}
body .main.main-inspiracoes{padding-top:20px;}body .main.main-inspiracoes .link-abrir{display:block;width:100%;height:55px;line-height:55px;text-align:center;margin-top:1px;font-family:'Bodoni Italic','Arial','Verdana','Tahoma',sans-serif;font-size:26px;font-weight:normal;color:#252F38;background:#c9bfa6;-webkit-transition:all 0.3s ease-out;-moz-transition:all 0.3s ease-out;-o-transition:all 0.3s ease-out;transition:all 0.3s ease-out;}body .main.main-inspiracoes .link-abrir:active,body .main.main-inspiracoes .link-abrir:visited{color:#252F38;}
body .main.main-inspiracoes .link-abrir:hover{background:#e6dbc7;}
body .main.main-inspiracoes h1{display:block;width:100%;height:55px;line-height:55px;text-align:center;margin-top:1px;font-family:'Bodoni Italic','Arial','Verdana','Tahoma',sans-serif;font-size:26px;font-weight:normal;color:#252F38;background:#e6dbc7;}body .main.main-inspiracoes h1 #prev{float:left;width:50px;text-align:center;-webkit-transition:all 1s ease-out;-moz-transition:all 1s ease-out;-o-transition:all 1s ease-out;transition:all 1s ease-out;}body .main.main-inspiracoes h1 #prev:hover{background:#c9bfa6;cursor:pointer;}
body .main.main-inspiracoes h1 #next{float:right;width:50px;text-align:center;-webkit-transition:all 1s ease-out;-moz-transition:all 1s ease-out;-o-transition:all 1s ease-out;transition:all 1s ease-out;}body .main.main-inspiracoes h1 #next:hover{background:#c9bfa6;cursor:pointer;}
body .main.main-inspiracoes .animate{margin-top:1px;}
body .main.main-inspiracoes .texto-affair-1{margin-top:10px;font-family:'Bodoni','Arial','Verdana','Tahoma',sans-serif;font-size:30px;font-weight:normal;line-height:110%;color:#fff;text-shadow:2px 2px 4px #16222c;}
body .main.main-inspiracoes .texto-affair-2{font-family:'Calibri','Verdana','Arial',sans-serif;font-size:15px;font-weight:normal;font-family:'Calibri','Arial','Verdana','Tahoma',sans-serif;font-size:15px;font-weight:normal;color:#fff;width:80%;line-height:165%;margin:15px auto 15px auto;}
body .main.main-inspiracoes .texto-affair-3{white-space:normal;font-family:'Calibri','Verdana','Arial',sans-serif;font-size:12px;font-weight:normal;font-family:'Calibri','Arial','Verdana','Tahoma',sans-serif;font-size:12px;font-weight:normal;color:#FFF;text-align:center;margin:10px 0;text-align:center;font-family:'Bodoni','Arial','Verdana','Tahoma',sans-serif;font-size:36px;font-weight:normal;margin:7px 0 20px 0;}body .main.main-inspiracoes .texto-affair-3 i{font-family:'Bodoni Italic','Arial','Verdana','Tahoma',sans-serif;font-size:36px;font-weight:normal;}
