@import 'vars.less';

body{
	background:#252F38;
	header{
		background-image: url('../_imgs/mobile/bg.jpg');
		padding-top:52px;
		#link-home{
			margin:0 auto;
			display:block;
			width:275px;			
		}
		nav{
			margin-top:40px;
			min-height:48px;
			background:#1D262D;
			ul{
				min-height:40px;
				font-size:0;
				white-space:nowrap;
				padding:4px 0;
				max-width:768px;
				margin:0 auto;
				li{
					.inline;
					width:33%;
					white-space:normal;
					text-align:center;
					a{
						line-height:40px;
						min-height:40px;
						.inline;
						color:#FFF !important;
						font-weight:normal !important;
						padding:0 18px;
						.bodoniI(20px);
						text-decoration:none;
						text-align:center;
						.transition;
						&:active, &:visited{color:#FFF;}
						&:hover, &.ativo{
							background-color:#252F38 !important;
						}
					}
				}
			}
		}
	}
	.main{
		text-align:center;
		background:#252F38;
		max-width:768px;
		padding-bottom:40px;
		margin:0 auto;
		&.main-home{
			#video-home{
				width:100%;
				margin:0 auto;
			}
		}
		&.main-nos{
			margin:0 auto;
			.texto-variable-size{
				max-width:768px;
				.bodoni(20px);
				text-align:center;
				vertical-align:baseline;
				line-height:155%;
				text-shadow:2px 2px 4px rgb(22,34,44);
				padding:20px 0;
				color:#fff;
				.f-42{
					vertical-align:baseline;
					.bodoni(38px);
				}
			}
			p{
				display:block;
				margin:15px auto;
				max-width:728px;
				.calibri(12px);
				line-height:180%;
				color:#fff;
				text-align:left;
			}
		}
		&.main-contato{
			.fone{
				width:400px;
				margin:16px auto;
				line-height:100%;
				text-align:left;
				.bodoni(46px);
				color:#fff;
				text-shadow:2px 2px 4px rgb(22,34,44);
				opacity:1;
				a{
					.bodoni(30px);
					color:#fff;
					.transition;
					&:active, &:visited{color:#fff;}
					&:hover{
						color:#B9B098;
					}
				}				
			}
		}
		&.main-inspiracoes{
			padding-top: 20px;
			.link-abrir{
				display:block;
				width:100%;
				height:55px;
				line-height:55px;
				text-align:center;
				margin-top:1px;
				.bodoniI(26px);
				color:#252F38;
				background:#c9bfa6;
				.transition(all, .3s);
				&:active, &:visited{color:#252F38;}
				&:hover{
					background:#e6dbc7;
				}
			}
			h1{
				display:block;
				width:100%;
				height:55px;
				line-height:55px;
				text-align:center;
				margin-top:1px;
				.bodoniI(26px);
				color:#252F38;
				background:#e6dbc7;
				#prev{
					float:left;
					width:50px;
					text-align:center;
					.transition;
					&:hover{
						background:#c9bfa6;
						cursor:pointer;
					}
				}
				#next{
					float:right;
					width:50px;
					text-align:center;
					.transition;
					&:hover{
						background:#c9bfa6;
						cursor:pointer;
					}
				}
			}
			.animate{
				margin-top:1px;
			}
			.texto-affair-1{
				margin-top:10px;
				.bodoni(30px);
				line-height:110%;
				color:#fff;
				text-shadow:2px 2px 4px rgb(22,34,44);
			}
			.texto-affair-2{
				.calibri(15px);
				color:#fff;
				width:80%;
				line-height:165%;
				margin:15px auto 15px auto;
			}
			.texto-affair-3{
				white-space:normal;
				.calibri(12px);					
				color:#FFF;
				text-align: center;
				margin:10px 0;
				text-align:center;
				.bodoni(36px);
				margin:7px 0 20px 0;
				i{ .bodoniI(36px); }
			}
		}
	}
}