* { padding:0; margin:0; outline:0; }
body {
	font-family: Verdana, Arial, sans-serif;
	font-size:12px;
	line-height:20px;
	color:#666;
	background:#fffac8;
}

.left { float:left; display:inline; }
.right { float:right; display:inline; }

a { color:#d96a02; text-decoration: none; cursor:pointer; }
a:hover { color:#81693c; }

.orange { color:#d96a02; }
.centro{ text-align:center;}
#shell { width:1100px; margin:0 auto; border:solid 8px #eeeabb; padding:9px; border-top:0; background:#fff; }


h1, h2, h3, h4, h5 { font-family: "Trebuchet MS", Arial, sans-serif; padding-bottom:8px; }
h1 { font-size:18px; line-height:22px; }
h2 { font-size:17px; line-height:21px; }
h3 { font-size:16px; line-height:20px; }
h4 { font-size:15px; line-height:19px; }
h5 { font-size:14px; line-height:18px; }
h6 { font-size:12px; line-height:16px; padding-bottom:5px; }

#header { background-color:#81693C; height:74px; padding:0 15px; -webkit-border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; border-radius:5px; }
#header h1{ float:left; white-space:nowrap; padding-top:17px; font-size:30px; line-height:35px; color:#fff;}
#header h1 a{ color:#fff }
#header h1 a:hover{ color:#fffac8; }

#header .right{ width:300px; text-align: right; font-size:11px; color:#fffac8; padding-top:4px;}
#header .right p { padding-top:8px;}
#header .right p a{ color:#fffac8; text-decoration: underline;}
#header .right p a:hover{ text-decoration: none;}
#header .right p.small-nav{ color:#fff; }
#header .right p.small-nav a{ color:#fff; text-decoration: none;}
#header .right p.small-nav a.active{ color:#fffac8; font-weight:bold; }
#header .right p.small-nav a:hover{ color:#fffac8; }

#navigation { font-size:0; padding:0 6px; background-color:#D96A02; height:46px; margin:9px 0; -webkit-border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; border-radius:5px;}
#navigation ul{ list-style-type: none; padding-top:8px;}
#navigation ul li{ font-size:11px; float:left; display:inline; margin-left:1px;}
#navigation ul li a{margin-right:3px;}
#navigation ul li a,
#navigation ul li a span { float:left; display:inline; height:29px; padding:0 3px; -webkit-border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; border-radius:5px;}
#navigation ul li a span { padding:0 3px; background-position:right -200px; }
#navigation ul li a { color:#fff; line-height:28px;}
#navigation ul li a.active { color:#fffac8; font-weight: bold;}

#navigation ul li a:hover,
#navigation ul li a.active { background-color:#EC7709; }

#navigation ul li a:hover span,
#navigation ul li a.active span{ background-position:right 0; }

#content { padding:10px 0 0 0;}
#content p{ padding-bottom:15px;}
#content ol,
#content ul{ padding: 0 0 15px 25px;}
#content li{ padding-bottom:3px; }
#content a { text-decoration: underline;}
#content a:hover { text-decoration: none;}

#footer { text-align: center; font-size:11px; padding:10px 0 20px 0; color:#9d5b00; }
#footer a{ color:#563609; }
#footer a:hover{ border-bottom:1px #563609 dotted; }

#login-box{
	width:350px;
	padding:20px 20px 50px 20px;
	margin:170px auto 0 auto;
	border:solid 8px #EEEABB;
	background-color:#FFF;
}

#login-box h1{
	height:30px;
	line-height:30px;
	padding:0;
	color:#FFF;
	text-align:center;
	background-color:#D96A02;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	margin-bottom:5px;
}

#login-box input[type="text"],
#login-box input[type="password"]{
	margin:0;
	padding:0;
	border:0;
	width:338px;
	height:30px;
	line-height:30px;	
	margin-top:10px;
	padding-left:10px;
	border:1px #EEEABB solid;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	color:#81693C;
	font-family:'Trebuchet MS','Arial',sans-serif;
	font-size:14px;
	font-weight:bold;
}
#login-box input[type="text"]:focus,
#login-box input[type="password"]:focus{
	-webkit-box-shadow: 0px 0px 1px 2px #D96A02;
	box-shadow: 0px 0px 1px 2px #D9E7CD;
}
#login-box input[type="submit"]{
	float:right;
}
input[type="button"].botao,
input[type="submit"]{
	padding:0 15px;
	height:25px;
	line-height:25px;
	font-family:'Trebuchet MS','Arial',sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	background:none;
	margin-top:10px;
	border:0;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;	
	background-image: linear-gradient(bottom, rgb(118,138,44) 10%, rgb(144,166,73) 55%);
	background-image: -o-linear-gradient(bottom, rgb(118,138,44) 10%, rgb(144,166,73) 55%);
	background-image: -moz-linear-gradient(bottom, rgb(118,138,44) 10%, rgb(144,166,73) 55%);
	background-image: -webkit-linear-gradient(bottom, rgb(118,138,44) 10%, rgb(144,166,73) 55%);
	background-image: -ms-linear-gradient(bottom, rgb(118,138,44) 10%, rgb(144,166,73) 55%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.1, rgb(118,138,44)),
		color-stop(0.55, rgb(144,166,73))
	);
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}

input[type="button"].botao:hover,
input[type="submit"]:hover{
	cursor:pointer;
	color:#FFF;
	background-image: linear-gradient(bottom, rgb(144,166,73) 10%, rgb(118,138,44) 55%);
	background-image: -o-linear-gradient(bottom, rgb(144,166,73) 10%, rgb(118,138,44) 55%);
	background-image: -moz-linear-gradient(bottom, rgb(144,166,73) 10%, rgb(118,138,44) 55%);
	background-image: -webkit-linear-gradient(bottom, rgb(144,166,73) 10%, rgb(118,138,44) 55%);
	background-image: -ms-linear-gradient(bottom, rgb(144,166,73) 10%, rgb(118,138,44) 55%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.1, rgb(144,166,73)),
		color-stop(0.55, rgb(118,138,44))
	);		
}

input[type="submit"]:active{
	background-image: linear-gradient(bottom, rgb(118,138,44) 10%, rgb(118,138,44) 55%);
	background-image: -o-linear-gradient(bottom, rgb(118,138,44) 10%, rgb(118,138,44) 55%);
	background-image: -moz-linear-gradient(bottom, rgb(118,138,44) 10%, rgb(118,138,44) 55%);
	background-image: -webkit-linear-gradient(bottom, rgb(118,138,44) 10%, rgb(118,138,44) 55%);
	background-image: -ms-linear-gradient(bottom, rgb(118,138,44) 10%, rgb(118,138,44) 55%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.1, rgb(118,138,44)),
		color-stop(0.55, rgb(118,138,44))
	);		
}

input[type="button"].voltar{
	padding:0 15px;
	height:25px;
	line-height:25px;
	font-family:'Trebuchet MS','Arial',sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	background:none;
	margin-top:10px;
	border:0;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
	background-image: linear-gradient(bottom, rgb(163,163,163) 10%, rgb(209,209,209) 55%);
	background-image: -o-linear-gradient(bottom, rgb(163,163,163) 10%, rgb(209,209,209) 55%);
	background-image: -moz-linear-gradient(bottom, rgb(163,163,163) 10%, rgb(209,209,209) 55%);
	background-image: -webkit-linear-gradient(bottom, rgb(163,163,163) 10%, rgb(209,209,209) 55%);
	background-image: -ms-linear-gradient(bottom, rgb(163,163,163) 10%, rgb(209,209,209) 55%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.1, rgb(163,163,163)),
		color-stop(0.55, rgb(209,209,209))
	);	
}

input[type="button"].voltar:hover{
	cursor:pointer;
	color:#FFF;
	background-image: linear-gradient(bottom, rgb(209,209,209) 10%, rgb(163,163,163) 55%);
	background-image: -o-linear-gradient(bottom, rgb(209,209,209) 10%, rgb(163,163,163) 55%);
	background-image: -moz-linear-gradient(bottom, rgb(209,209,209) 10%, rgb(163,163,163) 55%);
	background-image: -webkit-linear-gradient(bottom, rgb(209,209,209) 10%, rgb(163,163,163) 55%);
	background-image: -ms-linear-gradient(bottom, rgb(209,209,209) 10%, rgb(163,163,163) 55%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.1, rgb(209,209,209)),
		color-stop(0.55, rgb(163,163,163))
	);		
}
input[type="button"].voltar:active{
	background-image: linear-gradient(bottom, rgb(163,163,163) 10%, rgb(163,163,163) 55%);
	background-image: -o-linear-gradient(bottom, rgb(163,163,163) 10%, rgb(163,163,163) 55%);
	background-image: -moz-linear-gradient(bottom, rgb(163,163,163) 10%, rgb(163,163,163) 55%);
	background-image: -webkit-linear-gradient(bottom, rgb(163,163,163) 10%, rgb(163,163,163) 55%);
	background-image: -ms-linear-gradient(bottom, rgb(163,163,163) 10%, rgb(163,163,163) 55%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.1, rgb(163,163,163)),
		color-stop(0.55, rgb(163,163,163))
	);		
}

.mensagem{
	height:30px;
	line-height:30px;
	text-align:center;
	font-weight:bold;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	display:none;
}
.mensagem#erro{
	background-color:#E8D5CE;
	border:1px #E8CEC1 solid;
	color:#973729;
}
.mensagem#sucesso{
	background-color:#D9E7CD;
	border:1px #C2DAB8 solid;
	color:#3d8b26;
}
.mensagem#alerta{
	color: #9F6000;
	background-color: #FEEFB3;
	border:1px #9F6000 solid;
}

#submenu, .submenu{ font-size:0; margin:10px 0; border:1px #EC7709 solid; height:22px; padding:4px 10px; border-radius:5px; }
a.add,a.lista,a.edit,a.delete,a.imagens,a.move,
#submenu a, .submenu a{
	background-color:#FFF;
	font-size:13px;
	text-decoration:none !important;
	padding:0 10px 0 32px;
	display:inline-block;
	*display:inline;
	zoom:1;
	margin:0 5px;
	border:1px #EC7709 solid;
	border-radius:5px;
	-webkit-transition: background-color .3s linear;
	-webkit-transition: color .3s linear;
	-moz-transition: background-color .3s linear;
	-moz-transition: color .3s linear;
	-ms-transition: background-color .3s linear;
	-ms-transition: color .3s linear;
	-o-transition: background-color .3s linear;
	-o-transition: color .3s linear;
	transition: background-color .3s linear;
	transition: color .3s linear;
}
a.add:active,a.lista:active,a.edit:active,a.delete:active,a.imagens:active,a.move:active,
a.add:hover,a.lista:hover,a.edit:hover,a.delete:hover,a.imagens:hover,a.move:hover,
#submenu a.active,
#submenu a:hover,
.submenu a.active,
.submenu a:hover{
	background-color:#EC7709;
	color:#FFF;
}
a.add,a.lista,a.edit,a.delete,a.imagens,a.move{
	background-position:10px center;
	background-repeat:no-repeat;
}
a.add{   background-image: url('add.png'); }
a.lista{  background-image: url('lista.png');  }
a.edit{  background-image: url('edit.png');  }
a.delete{background-image: url('delete.png');  }
a.imagens { background-image: url('imagens.png'); }
a.move { background-image: url('mouse_select_left.png'); }

table{
	width:100%;
	border:1px #EEEABB solid;
	border-collapse:collapse;
}
table tr{ border:1px #EEEABB solid; }
table tr th,
table tr td{ padding:5px;}
table th{ text-align:left; }
table .option-cell{ width:100px; }
table .option-cell-half{ width:50px; }
table tr:nth-child(2n){ background-color:#EEEABB; }

label{
	display:block;
	margin-bottom:15px;
}

#dialog{ display:none; }
label input{
	height:22px;
	line-height:22px;
}
label input,
label select,
label textarea{
	width:450px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	font-family:'Verdana','Arial',sans-serif;
	font-size:12px;
}
label textarea{
	line-height:160%;
	padding:8px;
	max-width:960px;
	max-height:400px;
}
label input:focus,
label select:focus,
label textarea:focus{
	-webkit-box-shadow: 0px 0px 1px 2px #f4b479;
	box-shadow: 0px 0px 1px 2px #f4b479;	
}

label input[type="checkbox"]{
	width:auto;
	margin:-2px 5px 0 0;
	height:27px;
	vertical-align:middle;
}

.fundoazul{
	text-align:center;
	display:block;
	padding:2px 4px;
	background-color:#0072AE;
	color:#fff;
}
.fundolaranja{
	text-align:center;
	display:block;
	padding:2px 4px;
	background-color:#FF6600;
	color:#fff;
}
