@font-face {
 font-family: 'Bodoni';
 src: url("Bodoni_SvtyTwo_ITC_TT.eot")
}
@font-face {
 font-family: 'Bodoni';
 src: url("Bodoni_SvtyTwo_ITC_TT.ttf")
}

@font-face {
 font-family: 'Bodoni Italic';
 src: url("Bodoni_SvtyTwo_ITC_TT2.eot")
}
@font-face {
 font-family: 'Bodoni Italic';
 src: url("Bodoni_SvtyTwo_ITC_TT2.ttf")
}