
.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
.aviso{color:#9F6000;background-color:#FEEFB3;border:2px #9F6000 solid;}
.sucesso{border:2px #C6D880 solid;background-color:#E6EFC2;color:#264409;}
.falha{border:2px #D8000C solid;color:#D8000C;background-color:#FFBABA;}
.offscreen{display:block;text-indent:-999999999px;}
.align-right{text-align:right;}
#big-video-vid{background-color:#000;}
#big-video-vid,#big-video-wrap,#big-video-vid video,#big-video-wrap video{width:100%;min-height:100%;}
.vjs-poster{width:100%;height:100%;position:absolute;top:0;left:0;z-index:0;}
#big-video-image{position:absolute;top:0;left:0;}
html{width:100%;height:100%;min-height:100%;}html body{width:100%;height:100%;min-height:100%;background:url('../_imgs/layout/pattern.png') #000000 top left;position:relative;overflow:hidden;}html body #loading{position:absolute;top:0;left:0;width:100%;height:100%;min-height:100%;line-height:100%;background-color:#000;font-family:'Bodoni Italic','Arial','Verdana','Tahoma',sans-serif;font-size:40px;font-weight:normal;color:#fff;text-align:center;z-index:9999;}html body #loading #Vcenter{display:none;margin:0 auto;}
html body #main{position:fixed;top:0;left:0;width:100%;height:100%;min-height:100%;z-index:8888;}html body #main .tiles{-webkit-transition:all 1s ease-out;-moz-transition:all 1s ease-out;-o-transition:all 1s ease-out;transition:all 1s ease-out;letter-spacing:-500em;word-spacing:-500em;white-space:nowrap;position:absolute;top:0;left:0;z-index:7777;width:100%;height:100%;min-height:100%;overflow:hidden;font-size:0;}html body #main .tiles.hid{left:1500px;opacity:0;z-index:-1;}
html body #main .tiles#tiles-inspiracoes .tile{width:26%;}html body #main .tiles#tiles-inspiracoes .tile.primeiro{width:48%;}
html body #main .tiles#tiles-inicio .tile{width:20%;}html body #main .tiles#tiles-inicio .tile.primeiro{width:40%;}
html body #main .tiles#tiles-inicio .tile#imagem-noiva{background-image:url('../_imgs/layout/home2.jpg');}
html body #main .tiles#tiles-inicio .tile#imagem-alianca{background-image:url('../_imgs/layout/home1.jpg');}
html body #main .tiles#tiles-inicio .tile#imagem-altar{background-image:url('../_imgs/layout/home3.jpg');}
html body #main .tiles#tiles-inicio .tile#imagem-noivos{background-image:url('../_imgs/layout/home4.jpg');}
html body #main .tiles#tiles-contato .tile{background-size:101% 100%;width:40%;}html body #main .tiles#tiles-contato .tile.primeiro{width:60%;}
html body #main .tiles#tiles-contato .tile#contato-esquerda{background-image:url('../_imgs/layout/contato1.jpg');}
html body #main .tiles#tiles-contato .tile#contato-direita{background-image:url('../_imgs/layout/contato2.jpg');}
html body #main .tiles .tile{letter-spacing:normal;word-spacing:normal;height:100%;margin-left:0;background-size:auto 100%;background-position:center top;background-repeat:no-repeat;-webkit-transition:all 1s ease-out;-moz-transition:all 1s ease-out;-o-transition:all 1s ease-out;transition:all 1s ease-out;display:inline-block;*display:inline;zoom:1;vertical-align:top;}html body #main .tiles .tile.hid{margin-left:1500px;opacity:0;background-position:600px top;z-index:-1;}
html body #main .tiles .tile.primeiro a{float:right;}
html body #main .tiles .tile#tile-celebracoes{background-image:url('../_imgs/layout/inspiracoes1.jpg');}
html body #main .tiles .tile#tile-expressoes{background-image:url('../_imgs/layout/inspiracoes2.jpg');}
html body #main .tiles .tile#tile-affair{background-image:url('../_imgs/layout/inspiracoes3.jpg');}
html body #main .tiles .tile a{display:block;width:100%;line-height:2400%;font-family:'Bodoni Italic','Arial','Verdana','Tahoma',sans-serif;font-size:50px;font-weight:normal;color:#FFF;text-shadow:2px 2px 4px #16222c;text-align:center;-webkit-transition:all 1s ease-out;-moz-transition:all 1s ease-out;-o-transition:all 1s ease-out;transition:all 1s ease-out;}html body #main .tiles .tile a:active,html body #main .tiles .tile a:visited{color:#fff;}
html body #main .tiles .tile a:hover{color:#B9B098;}
html body #main #menu-container{position:absolute;width:20%;left:0;height:100%;min-height:100%;z-index:9999;-webkit-transition:all 1s ease-out;-moz-transition:all 1s ease-out;-o-transition:all 1s ease-out;transition:all 1s ease-out;}html body #main #menu-container.hid{opacity:0;left:-150px;z-index:-1;}
html body #main #menu-container nav{position:absolute;background-color:rgba(22, 34, 44, 0.9);z-index:8999;height:100%;width:100%;min-height:100%;}html body #main #menu-container nav img{display:block;margin:0 auto;width:70%;max-width:221px;margin-top:50%;}
html body #main #menu-container nav ul{list-style:none;width:100%;margin-top:60%;}html body #main #menu-container nav ul li{text-align:center;margin:3px 0;position:relative;}html body #main #menu-container nav ul li .marcador-left{position:absolute;left:0;top:12px;vertical-align:middle;background-color:#FFF;height:1px;margin-right:5px;opacity:0;}
html body #main #menu-container nav ul li .marcador-right{position:absolute;right:0;top:12px;vertical-align:middle;background-color:#FFF;height:1px;margin-left:5px;opacity:0;}
html body #main #menu-container nav ul li a{display:inline-block;*display:inline;zoom:1;vertical-align:top;-webkit-transition:all 1s ease-out;-moz-transition:all 1s ease-out;-o-transition:all 1s ease-out;transition:all 1s ease-out;font-family:'Bodoni Italic','Arial','Verdana','Tahoma',sans-serif;font-size:18px;font-weight:normal;text-decoration:none;color:#fff;}html body #main #menu-container nav ul li a:active,html body #main #menu-container nav ul li a:visited{color:#fff;}
html body #main #video{position:absolute;top:0;left:0;width:100%;height:100%;line-height:100%;z-index:0;overflow:hidden;}html body #main #video video,html body #main #video video object{min-height:100%;min-width:100%;}
html body #main #video-affair{display:none;position:absolute;background-color:#000;top:0;left:0;width:100%;height:100%;line-height:100%;z-index:99999999999;}html body #main #video-affair img{position:absolute;top:15%;left:30px;width:221px;z-index:999;max-width:221px;}
html body #main .galeria{position:absolute;top:0;left:0;width:100%;height:100%;line-height:100%;z-index:0;-webkit-transition:all 1s ease-out;-moz-transition:all 1s ease-out;-o-transition:all 1s ease-out;transition:all 1s ease-out;}html body #main .galeria.hid{left:3000px;opacity:0;z-index:-1;}
html body #main .galeria .img-container img,html body #main .galeria img{position:absolute;top:50%;left:50%;margin-top:-500px;margin-left:-1000px;height:1000px;width:2000px;}
html body #main .galeria .img-container{width:100%;height:100%;position:absolute;top:0;left:0;}
html body #main #link-logo{z-index:99999;position:absolute;top:15%;left:30px;width:221px;max-width:221px;opacity:1;-webkit-transition:all 1s ease-out;-moz-transition:all 1s ease-out;-o-transition:all 1s ease-out;transition:all 1s ease-out;}html body #main #link-logo.hid{opacity:0;left:-150px;z-index:-1;}
html body #main #link-logo a{display:block;}
html body #main #logo_link_inicial{display:none;position:absolute;top:15%;left:30px;width:221px;max-width:221px;z-index:99999;}
html body #main #controle_slides{display:none;position:absolute;bottom:10px;right:20px;height:100px;width:40px;z-index:9999999;}html body #main #controle_slides a{display:block;width:40px;height:40px;-webkit-transition:all 1s ease-out;-moz-transition:all 1s ease-out;-o-transition:all 1s ease-out;transition:all 1s ease-out;}
html body #main #controle_slides a.next{background:url('../_imgs/layout/next.png') center center no-repeat;margin-bottom:20px;}
html body #main #controle_slides a.prev{background:url('../_imgs/layout/prev.png') center center no-repeat;}
html body #main .texto{position:absolute;bottom:0;left:20%;width:80%;z-index:8899;white-space:nowrap;background-color:rgba(22, 34, 44, 0.9);color:#fff;font-size:0;-webkit-transition:all 1s ease-out;-moz-transition:all 1s ease-out;-o-transition:all 1s ease-out;transition:all 1s ease-out;}html body #main .texto.hid{opacity:0;height:0;z-index:-1;}html body #main .texto.hid .texto-left,html body #main .texto.hid .texto-right{opacity:0;}
html body #main .texto.hid .tit{opacity:0;}
html body #main .texto .texto-left,html body #main .texto .texto-right{display:inline-block;*display:inline;zoom:1;vertical-align:top;-webkit-transition:all 1s ease-out;-moz-transition:all 1s ease-out;-o-transition:all 1s ease-out;transition:all 1s ease-out;white-space:normal;padding:30px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
html body #main .texto .texto-left{font-family:'Bodoni','Arial','Verdana','Tahoma',sans-serif;font-size:20px;font-weight:normal;text-align:center;vertical-align:baseline;line-height:155%;width:45%;text-shadow:2px 2px 4px #16222c;}html body #main .texto .texto-left .f-42{vertical-align:baseline;font-family:'Bodoni','Arial','Verdana','Tahoma',sans-serif;font-size:38px;font-weight:normal;}
html body #main .texto .texto-right{width:55%;font-family:'Calibri','Verdana','Arial',sans-serif;font-size:12px;font-weight:normal;font-family:'Calibri','Arial','Verdana','Tahoma',sans-serif;font-size:12px;font-weight:normal;line-height:180%;}
html body #main #texto-depoimentos{display:block;position:absolute;bottom:0;left:20%;width:80%;z-index:99999;background-color:rgba(22, 34, 44, 0.9);color:#fff;text-align:center;-webkit-transition:all 1s ease-out;-moz-transition:all 1s ease-out;-o-transition:all 1s ease-out;transition:all 1s ease-out;}html body #main #texto-depoimentos.hid{height:0;z-index:-1;}
html body #main #texto-depoimentos.pagina #dep-start{display:none;}
html body #main #texto-depoimentos.pagina #dep-nav{display:block;}
html body #main #texto-depoimentos #dep-start{width:21px;}
html body #main #texto-depoimentos #dep-nav{display:none;position:absolute;left:4px;top:-10px;}
html body #main #texto-depoimentos .tit{white-space:normal;margin-top:-62px;margin-bottom:32px;background-color:transparent;color:#fff;text-shadow:2px 2px 4px #16222c;font-family:'Bodoni','Arial','Verdana','Tahoma',sans-serif;font-size:42px;font-weight:normal;}
html body #main #texto-depoimentos .dep{white-space:normal;margin:0 auto 10px auto;font-family:'Verdana','Arial',sans-serif;font-size:11px;font-weight:normal;color:#FFF;line-height:150%;text-align:center;width:60%;}
html body #main #info-contato{width:251px;line-height:100%;text-align:right;position:absolute;z-index:9999999;top:0;left:400px;-webkit-transition:all 1s ease-out;-moz-transition:all 1s ease-out;-o-transition:all 1s ease-out;transition:all 1s ease-out;font-family:'Bodoni','Arial','Verdana','Tahoma',sans-serif;font-size:36px;font-weight:normal;color:#fff;text-shadow:2px 2px 4px #16222c;opacity:1;}html body #main #info-contato.hid{opacity:0;left:2000px;z-index:-1;}
html body #main #info-contato a{font-family:'Bodoni','Arial','Verdana','Tahoma',sans-serif;font-size:20px;font-weight:normal;color:#fff;-webkit-transition:all 1s ease-out;-moz-transition:all 1s ease-out;-o-transition:all 1s ease-out;transition:all 1s ease-out;}html body #main #info-contato a:active,html body #main #info-contato a:visited{color:#fff;}
html body #main #info-contato a:hover{color:#B9B098;}
html body #main #affair{position:absolute;width:100%;height:100%;background-color:#000;}html body #main #affair video{width:100%;height:100%;}
html body #main #texto-affair{display:block;position:absolute;bottom:0;left:20%;width:80%;z-index:99999;background-color:rgba(22, 34, 44, 0.9);color:#fff;text-align:center;color:#fff;}html body #main #texto-affair.hid{height:0;z-index:-1;}
html body #main #texto-affair #affair-titulo{font-family:'Bodoni','Arial','Verdana','Tahoma',sans-serif;font-size:42px;font-weight:normal;line-height:100%;text-shadow:2px 2px 4px #16222c;margin-top:-110px;margin-bottom:30px;white-space:normal;}
html body #main #texto-affair .affair-texto{white-space:normal;font-family:'Calibri','Verdana','Arial',sans-serif;font-size:12px;font-weight:normal;font-family:'Calibri','Arial','Verdana','Tahoma',sans-serif;font-size:12px;font-weight:normal;color:#FFF;padding-top:15px;width:70%;margin:0 auto;text-align:center;}html body #main #texto-affair .affair-texto .enfase{font-family:'Bodoni','Arial','Verdana','Tahoma',sans-serif;font-size:36px;font-weight:normal;margin:7px 0 20px 0;}html body #main #texto-affair .affair-texto .enfase i{font-family:'Bodoni Italic','Arial','Verdana','Tahoma',sans-serif;font-size:36px;font-weight:normal;}
html body #main #texto-affair .affair-texto a{font-family:'Bodoni','Arial','Verdana','Tahoma',sans-serif;font-size:16px;font-weight:normal;color:#FFF;text-shadow:2px 2px 4px #16222c;border-top:1px #FFF solid;border-bottom:1px #FFF solid;padding:4px 2px;-webkit-transition:all 1s ease-out;-moz-transition:all 1s ease-out;-o-transition:all 1s ease-out;transition:all 1s ease-out;}html body #main #texto-affair .affair-texto a:active,html body #main #texto-affair .affair-texto a:visited{color:#FFF;}
html body #main #texto-affair .affair-texto a:hover{color:#B9B098;}
html body #main .tile-contato{height:100%;min-height:100%;width:40%;float:left;overflow:hidden;position:relative;z-index:7777;}html body #main .tile-contato.wide{width:60%;}
html body #main .tile-contato img{width:100%;height:100%;display:none;}
html body #main .insp-tile{display:none;height:100%;line-height:100%;width:27%;float:left;position:relative;overflow:hidden;}html body #main .insp-tile img{position:absolute;top:0;left:0;height:100%;}
html body #main .insp-tile a{position:absolute;top:0;right:0;text-align:center;display:block;height:100%;min-height:100%;width:100%;line-height:2400%;font-family:'Bodoni Italic','Arial','Verdana','Tahoma',sans-serif;font-size:50px;font-weight:normal;color:#FFF;text-shadow:2px 2px 4px #16222c;-webkit-transition:all 1s ease-out;-moz-transition:all 1s ease-out;-o-transition:all 1s ease-out;transition:all 1s ease-out;}html body #main .insp-tile a:active,html body #main .insp-tile a:visited{color:#FFF;}
html body #main .insp-tile a:hover{color:#B9B098;}
html body #main .insp-tile.first{width:46%;}html body #main .insp-tile.first a{height:100%;min-height:100%;width:56%;font-family:'Bodoni Italic','Arial','Verdana','Tahoma',sans-serif;font-size:50px;font-weight:normal;-webkit-transition:all 1s ease-out;-moz-transition:all 1s ease-out;-o-transition:all 1s ease-out;transition:all 1s ease-out;text-shadow:2px 2px 4px #16222c;}html body #main .insp-tile.first a:active,html body #main .insp-tile.first a:visited{color:#FFF;}
html body #main .insp-tile.first a:hover{color:#B9B098;}
#floatingCirclesG,#floatingCirclesG-Affair{position:relative;width:60px;height:60px;margin:5px auto 0 auto;-webkit-transform:scale(0.6);-moz-transform:scale(0.6);-o-transform:scale(0.6);-ms-transform:scale(0.6);}
#floatingCirclesG-Affair{position:absolute;z-index:9999999999999999999999999999999999;}
.f_circleG{position:absolute;background-color:#000000;height:11px;width:11px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-webkit-animation-name:f_fadeG;-webkit-animation-duration:0.96s;-webkit-animation-iteration-count:infinite;-webkit-animation-direction:linear;-moz-animation-name:f_fadeG;-moz-animation-duration:0.96s;-moz-animation-iteration-count:infinite;-moz-animation-direction:linear;-o-animation-name:f_fadeG;-o-animation-duration:0.96s;-o-animation-iteration-count:infinite;-o-animation-direction:linear;-ms-animation-name:f_fadeG;-ms-animation-duration:0.96s;-ms-animation-iteration-count:infinite;-ms-animation-direction:linear;}
#frotateG_01{left:0;top:25px;-webkit-animation-delay:0.36s;-moz-animation-delay:0.36s;-o-animation-delay:0.36s;-ms-animation-delay:0.36s;}
#frotateG_02{left:7px;top:7px;-webkit-animation-delay:0.48s;-moz-animation-delay:0.48s;-o-animation-delay:0.48s;-ms-animation-delay:0.48s;}
#frotateG_03{left:25px;top:0;-webkit-animation-delay:0.6s;-moz-animation-delay:0.6s;-o-animation-delay:0.6s;-ms-animation-delay:0.6s;}
#frotateG_04{right:7px;top:7px;-webkit-animation-delay:0.72s;-moz-animation-delay:0.72s;-o-animation-delay:0.72s;-ms-animation-delay:0.72s;}
#frotateG_05{right:0;top:25px;-webkit-animation-delay:0.8400000000000001s;-moz-animation-delay:0.8400000000000001s;-o-animation-delay:0.8400000000000001s;-ms-animation-delay:0.8400000000000001s;}
#frotateG_06{right:7px;bottom:7px;-webkit-animation-delay:0.96s;-moz-animation-delay:0.96s;-o-animation-delay:0.96s;-ms-animation-delay:0.96s;}
#frotateG_07{left:25px;bottom:0;-webkit-animation-delay:1.0799999999999998s;-moz-animation-delay:1.0799999999999998s;}
#frotateG_08{left:7px;bottom:7px;-webkit-animation-delay:1.2s;-moz-animation-delay:1.2s;-o-animation-delay:1.0799999999999998s;-ms-animation-delay:1.0799999999999998s;}
#frotateG_08{left:7px;bottom:7px;-webkit-animation-delay:1.2s;-moz-animation-delay:1.2s;-o-animation-delay:1.2s;-ms-animation-delay:1.2s;}
@-webkit-keyframes f_fadeG{0%{background-color:#ffffff;} 100%{background-color:#000000;}}@-moz-keyframes f_fadeG{0%{background-color:#ffffff;} 100%{background-color:#000000;}}@-o-keyframes f_fadeG{0%{background-color:#ffffff;} 100%{background-color:#000000;}}@-ms-keyframes f_fadeG{0%{background-color:#ffffff;} 100%{background-color:#000000;}}#completely-hidden{display:none;visibility:hidden;width:0;height:0;overflow:hidden;position:absolute;top:0;left:-500px;}
