@import 'vars.less';

#big-video-vid{
	background-color:#000;
}

#big-video-vid,
#big-video-wrap,
#big-video-vid video,
#big-video-wrap video{
	width:100%;
	min-height:100%;	
}

.vjs-poster{
	width:100%;
	height:100%;
	position:absolute;	
	top:0;
	left:0;
	z-index:0;
}

#big-video-image{
	position:absolute;
	top:0;
	left:0;
}

html{
	width:100%;
	height:100%;
	min-height:100%;
	body{
		width:100%;
		height:100%;
		min-height:100%;
		/*background-color:#000;*/
		background:url('../_imgs/layout/pattern.png') #000 top left;
		position:relative;
		overflow:hidden;
		#loading{
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			min-height:100%;
			line-height:100%;
			background-color:#000;
			.bodoniI(40px);
			color:#fff;
			text-align:center;
			z-index:9999;
			#Vcenter{
				display:none;
				margin:0 auto;
			}
		}
		#main{
			position:fixed;
			top:0;
			left:0;
			width:100%;
			height:100%;
			min-height:100%;
			z-index:8888;
			.tiles{
				.transition;
				letter-spacing:-500em;
				word-spacing:-500em;
				white-space:nowrap;
				position:absolute;
				top:0;
				left:0;
				z-index:7777;
				width:100%;
				height:100%;
				min-height:100%;
				overflow:hidden;
				font-size:0;
				&.hid{
					left:1500px;
					opacity:0;
					z-index:-1;
				}
				&#tiles-inspiracoes{
					.tile{
						width:26%;	
						&.primeiro{
							width:48%;
						}
					}
				}
				&#tiles-inicio{
					.tile{
						width:20%;
						&.primeiro{
							width:40%;
						}
						&#imagem-noiva{ background-image:url('../_imgs/layout/home2.jpg');}
						&#imagem-alianca{ background-image:url('../_imgs/layout/home1.jpg');}
						&#imagem-altar{ background-image:url('../_imgs/layout/home3.jpg');}
						&#imagem-noivos{ background-image:url('../_imgs/layout/home4.jpg');}
					}
				}
				&#tiles-contato{
					.tile{
						background-size: 101% 100%;
						width:40%;
						&.primeiro{
							width:60%;
						}
						&#contato-esquerda{ background-image:url('../_imgs/layout/contato1.jpg'); }
						&#contato-direita{ background-image:url('../_imgs/layout/contato2.jpg'); }
					}
				}
				.tile{
					letter-spacing:normal;
					word-spacing:normal;
					height:100%;
					margin-left:0;
					background-size: auto 100%;
					background-position: center top;
					background-repeat: no-repeat;
					.transition;
					.inline;
					&.hid{
						margin-left:1500px;
						opacity:0;
						background-position:600px top;
						z-index:-1;
					}
					&.primeiro{
						a{
							float: right;
						}
					}
					&#tile-celebracoes{
						background-image:url('../_imgs/layout/inspiracoes1.jpg');
					}
					&#tile-expressoes{
						background-image:url('../_imgs/layout/inspiracoes2.jpg');
					}
					&#tile-affair{
						background-image:url('../_imgs/layout/inspiracoes3.jpg');
					}
					a{
						display:block;
						width:100%;
						line-height:2400%;
						.bodoniI(50px);
						color:#FFF;
						text-shadow:2px 2px 4px rgb(22,34,44);
						text-align:center;
						.transition;
						&:active, &:visited{ color:#fff; }
						&:hover{ color:#B9B098; }
					}
				}
			}
			#menu-container{
				position:absolute;
				width:20%;
				left:0;
				height:100%;
				min-height:100%;
				z-index:9999;
				.transition;
				&.hid{
					opacity:0;
					left:-150px;
					z-index:-1;
				}
				nav{
					position:absolute;
					background-color:rgba(22,34,44,.90);
					z-index:8999;
					height:100%;
					width:100%;
					min-height:100%;
					img{
						display:block;
						margin:0 auto;
						width:70%;
						max-width:221px;
						margin-top:50%;
					}
					ul{
						list-style:none;
						width:100%;
						margin-top:60%;
						li{
							text-align:center;
							margin:3px 0;
							position:relative;
							.marcador-left{
								position:absolute;
								left:0;
								top:12px;
								vertical-align:middle;
								background-color:#FFF;
								height:1px;
								margin-right:5px;
								opacity:0;
							}
							.marcador-right{
								position:absolute;
								right:0;
								top:12px;
								vertical-align:middle;
								background-color:#FFF;
								height:1px;
								margin-left:5px;
								opacity:0;
							}
							a{
								.inline;
								.transition;
								.bodoniI(18px);
								text-decoration:none;
								color:#fff;
								&:active, &:visited{color:#fff;}
							}
						}
					}
				}				
			}
			#video{
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				line-height:100%;
				z-index:0;
				overflow: hidden;
				video, video object{
					min-height: 100%; 
					min-width:100%;
				}
			}
			#video-affair{
				display:none;
				position:absolute;
				background-color:#000;
				top:0;
				left:0;
				width:100%;
				height:100%;
				line-height:100%;
				z-index:99999999999;	
				img{
					position:absolute;
					top:15%;
					left:30px;
					width:221px;
					z-index:999;
					max-width:221px;
				}
			}
			.galeria{
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				line-height:100%;
				z-index:0;
				.transition;
				&.hid{
					left:3000px;
					opacity:0;
					z-index:-1;
				}
				.img-container img, img{
					position:absolute;
					top:50%;
					left:50%;
					margin-top:-500px;
					margin-left:-1000px;
					height:1000px;
					width:2000px;
				}
				.img-container{
					width:100%;
					height:100%;
					position:absolute;
					top:0;
					left:0;
				}
			}
			#link-logo{
				z-index:99999;
				position:absolute;
				top:15%;
				left:30px;
				width:221px;
				max-width:221px;
				opacity:1;
				.transition;
				&.hid{
					opacity:0;
					left:-150px;
					z-index:-1;
				}
				a{
					display:block;
				}
			}
			#logo_link_inicial{
				display:none;
				position:absolute;
				top:15%;
				left:30px;
				width:221px;
				max-width:221px;
				z-index:99999;
			}			
			#controle_slides{
				display:none;
				position:absolute;
				bottom:10px;
				right:20px;
				height:100px;
				width:40px;
				z-index:9999999;
				a{
					display:block;
					width:40px;
					height:40px;
					.transition;
					&:active, &:visited{}
					&:hover{}
					&.next{ background:url('../_imgs/layout/next.png') center center no-repeat; margin-bottom:20px; }
					&.prev{ background:url('../_imgs/layout/prev.png') center center no-repeat; }
				}
			}
			.texto{
				position:absolute;
				bottom:0;
				left:20%;
				width:80%;
				z-index:8899;
				white-space:nowrap;
				background-color:rgba(22,34,44,.90);
				color:#fff;
				font-size:0;
				.transition;
				&.hid{
					opacity:0;
					height:0;	
					z-index:-1;
					.texto-left, .texto-right{ opacity: 0; }
					.tit{ opacity:0; }
				}
				.texto-left, .texto-right{
					.inline;
					.transition;
					white-space:normal;
					padding:30px;
					box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;					
				}
				.texto-left{
					.bodoni(20px);
					text-align:center;
					vertical-align:baseline;
					line-height:155%;
					width:45%;
					text-shadow:2px 2px 4px rgb(22,34,44);
					.f-42{
						vertical-align:baseline;
						.bodoni(38px);
					}
				}
				.texto-right{
					width:55%;
					.calibri(12px);
					line-height:180%;
				}
			}
			#texto-depoimentos{
				display:block;
				position:absolute;
				bottom:0;
				left:20%;
				width:80%;
				z-index:99999;
				background-color:rgba(22,34,44,.90);
				color:#fff;
				text-align:center;
				.transition;
				&.hid{
					height:0;
					z-index:-1;
				}
				&.pagina{
					#dep-start{
						display:none;
					}
					#dep-nav{
						display:block;	
					}
				}
				#dep-start{
					width:21px;
				}
				#dep-nav{
					display:none;
					position:absolute;
					left:4px;
					top:-10px;
				}
				.tit{
					white-space:normal;
					margin-top:-62px;
					margin-bottom:32px;
					background-color:transparent;
					color:#fff;
					text-shadow:2px 2px 4px rgb(22,34,44);
					.bodoni(42px);
				}
				.dep{
					white-space:normal;
					margin:0 auto 10px auto;
					.verdana(11px);
					color:#FFF;
					line-height:150%;
					text-align:center;
					width:60%;
				}
			}
			#info-contato{
				width:251px;
				line-height:100%;
				text-align:right;
				position:absolute;
				z-index:9999999;
				top:0;
				left:400px;
				.transition;
				.bodoni(36px);
				color:#fff;
				text-shadow:2px 2px 4px rgb(22,34,44);
				opacity:1;
				&.hid{
					opacity:0;
					left:2000px;
					z-index:-1;
				}
				a{
					.bodoni(20px);
					color:#fff;
					.transition;
					&:active, &:visited{color:#fff;}
					&:hover{
						color:#B9B098;
					}
				}
			}
			#affair{
				position:absolute;
				width:100%;
				height:100%;
				background-color:#000;
				video{
					width:100%;
					height:100%;
				}
			}
			#texto-affair{
				display:block;
				position:absolute;
				bottom:0;
				left:20%;
				width:80%;
				&.hid{
					height:0;
					z-index:-1;
				}
				z-index:99999;
				background-color:rgba(22,34,44,.90);
				color:#fff;
				text-align:center;
				color:#fff;
				#affair-titulo{
					.bodoni(42px);
					line-height:100%;
					text-shadow:2px 2px 4px rgb(22,34,44);
					margin-top:-110px;
					margin-bottom:30px;
					white-space:normal;
				}
				.affair-texto{
					white-space:normal;
					.calibri(12px);
					color:#FFF;
					padding-top:15px;
					width:70%;
					margin:0 auto;
					text-align:center;
					.enfase{
						.bodoni(36px);
						margin:7px 0 20px 0;
						i{ .bodoniI(36px); }
					}
					a{
						.bodoni(16px);
						color:#FFF;
						text-shadow:2px 2px 4px rgb(22,34,44);
						border-top:1px #FFF solid;
						border-bottom:1px #FFF solid;
						padding:4px 2px;
						.transition;
						&:active, &:visited{color:#FFF;}
						&:hover{ color:#B9B098; }
					}
				}
			}
			.tile-contato{
				height:100%;
				min-height:100%;
				width:40%;
				float:left;
				overflow:hidden;
				position:relative;
				z-index:7777;
				&.wide{
					width:60%;
				}
				img{
					width:100%;
					height:100%;
					display:none;
				}
			}
			.insp-tile{
				display:none;
				height:100%;
				line-height:100%;
				width:27%;
				float:left;
				position:relative;
				overflow:hidden;
				img{
					position:absolute;
					top:0;
					left:0;
					height:100%;
				}
				a{
					position:absolute;
					top:0;
					right:0;
					text-align:center;
					display:block;
					height:100%;
					min-height:100%;
					width:100%;
					line-height:2400%;
					.bodoniI(50px);
					color:#FFF;
					text-shadow:2px 2px 4px rgb(22,34,44);
					.transition;					
					&:active, &:visited{ color:#FFF; }
					&:hover{
						color:#B9B098;
					}
				}
				&.first{
					width:46%;
					a{
						height:100%;
						min-height:100%;
						width:56%;
						.bodoniI(50px);
						.transition;
						text-shadow:2px 2px 4px rgb(22,34,44);
						&:active, &:visited{ color:#FFF; }
						&:hover{
							color:#B9B098;
						}
					}
				}
			}
		}
	}
}

/**************/
/* CSS LOADER */
/**************/
#floatingCirclesG,
#floatingCirclesG-Affair{
	position:relative;
	width:60px;
	height:60px;
	margin:5px auto 0 auto;
	-webkit-transform:scale(0.6);
	-moz-transform:scale(0.6);
	-o-transform:scale(0.6);
	-ms-transform:scale(0.6);
}
#floatingCirclesG-Affair{
	position:absolute;
	z-index:9999999999999999999999999999999999;
}

.f_circleG{
	position:absolute;
	background-color:#000000;
	height:11px;
	width:11px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-webkit-animation-name:f_fadeG;
	-webkit-animation-duration:0.96s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:linear;
	-moz-animation-name:f_fadeG;
	-moz-animation-duration:0.96s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:linear;
	-o-animation-name:f_fadeG;
	-o-animation-duration:0.96s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:linear;
	-ms-animation-name:f_fadeG;
	-ms-animation-duration:0.96s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:linear;
}

#frotateG_01{
	left:0;
	top:25px;
	-webkit-animation-delay:0.36s;
	-moz-animation-delay:0.36s;
	-o-animation-delay:0.36s;
	-ms-animation-delay:0.36s;
}

#frotateG_02{
	left:7px;
	top:7px;
	-webkit-animation-delay:0.48s;
	-moz-animation-delay:0.48s;
	-o-animation-delay:0.48s;
	-ms-animation-delay:0.48s;
}

#frotateG_03{
	left:25px;
	top:0;
	-webkit-animation-delay:0.6s;
	-moz-animation-delay:0.6s;
	-o-animation-delay:0.6s;
	-ms-animation-delay:0.6s;
}

#frotateG_04{
	right:7px;
	top:7px;
	-webkit-animation-delay:0.72s;
	-moz-animation-delay:0.72s;
	-o-animation-delay:0.72s;
	-ms-animation-delay:0.72s;
}

#frotateG_05{
	right:0;
	top:25px;
	-webkit-animation-delay:0.8400000000000001s;
	-moz-animation-delay:0.8400000000000001s;
	-o-animation-delay:0.8400000000000001s;
	-ms-animation-delay:0.8400000000000001s;
}

#frotateG_06{
	right:7px;
	bottom:7px;
	-webkit-animation-delay:0.96s;
	-moz-animation-delay:0.96s;
	-o-animation-delay:0.96s;
	-ms-animation-delay:0.96s;
}

#frotateG_07{
	left:25px;
	bottom:0;
	-webkit-animation-delay:1.0799999999999998s;
	-moz-animation-delay:1.0799999999999998s;
}

#frotateG_08{
	left:7px;
	bottom:7px;
	-webkit-animation-delay:1.2s;
	-moz-animation-delay:1.2s;
	-o-animation-delay:1.0799999999999998s;
	-ms-animation-delay:1.0799999999999998s;
}

#frotateG_08{
	left:7px;
	bottom:7px;
	-webkit-animation-delay:1.2s;
	-moz-animation-delay:1.2s;
	-o-animation-delay:1.2s;
	-ms-animation-delay:1.2s;
}

@-webkit-keyframes f_fadeG{
	0%{ background-color:#FFFFFF }
	100%{ background-color:#000000 }
}

@-moz-keyframes f_fadeG{
	0%{ background-color:#FFFFFF }
	100%{ background-color:#000000 }
}

@-o-keyframes f_fadeG{
	0%{ background-color:#FFFFFF }
	100%{ background-color:#000000 }
}

@-ms-keyframes f_fadeG{
	0%{ background-color:#FFFFFF }
	100%{ background-color:#000000 }
}

#completely-hidden{
	display:none;
	visibility: hidden;
	width:0;
	height:0;
	overflow:hidden;
	position:absolute;
	top:0;
	left:-500px;
}