@import 'vars.less';

html{
	height:100%;
	min-height:100%;
	body{
		height:100%;
		min-height:100%;
		position:relative;
		#backdrop{
			position:absolute;
			top:0;
			left:0;
			height:100%;
			min-height:100%;
			width:100%;
			z-index:1;
		}
		#wrapper{
			width:550px;
			margin:0 auto;
			height:100%;
			min-height:100%;
			position:relative;
			#fundo-azul{
				position:absolute;
				top:0;
				left:0;
				z-index:2;
				width:550px;
				height:100%;
				min-height:100%;
			}
			.center{
				position:absolute;
				top:0;
				left:0;
				z-index:5;
				width:550px;
				height:100%;
				min-height:100%;
				text-align:center;
				#logo{
					margin-top:189px;
					margin-bottom:135px;
				}
				.trilha{
					.bodoniI(22px);
					color:#fff;
				}
				.enter-btn{
					.inline;
					.bodoniI(16px);
					width:147px;
					height:23px;
					line-height:20px;
					text-align:center;
					border:1px #fff solid;
					color:#FFF;
					.transition;
					&:visited, &:active{ color:#FFF; }
					&:hover{
						color:#16222C;
						background-color:#FFF;
					}
				}
				.assinatura{
					width:550px;
					position:absolute;
					left:0;
					bottom:15px;
					font-family:'Times New Roman', 'Arial', serif;
					font-size:9px;
					text-align:center;
					color:#FFF;
					a{
						color:#FFF;
						text-decoration:none;
						border-bottom:1px transparent solid;
						.transition;
						&:active, &:visited{color:#FFF;}
						&:hover{
							border-bottom:1px #FFF dotted;
						}
					}
				}
			}			
		}
	}
}